@use 'base' as *;

body {
    margin: 0;
    padding: 0;
    background-color: $color-fondo;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

header {
    @include flexCenter(row, space-between, center);
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: $color-fondo;

    .header-logo {
        img {
            width: 80px;
        }

        .platform-title {
            display: none;

            @media (min-width: 960px) {
                display: block;
                color: $color-text;
            }
        }

        @media (min-width: 960px) {
            @include flexCenter(row, center, center);
            gap: 12px;
        }
    }

    .header-buttons {
        @include flexCenter(row, center, center);
        gap: 40px;
        color: $color-text;

        .btn-header {
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .btn-header:hover {
            background-color: $color-text;
            color: $color-btn;
            padding: 8px;
            border-radius: 4px;
        }
    }
}

main {
    height: 100%;
    overflow: auto;
    padding: 20px;

    .section-title {
        color: $color-text;
        padding-top: 8px;
        padding-bottom: 8px;

        #top-text {
            font-weight: 700;

            @media (min-width: 961px) {
                &::before {
                    content: "5";
                }
            }

            @media (max-width: 960px) {
                &::before {
                    content: "3";
                }
            }
        }

        @media (min-width: 960px) {
            font-size: 1.5rem;
        }
    }

    .top {
        @include flexCenter(column, center, center);
        gap: 12px;

        @media (min-width: 540px) {
            @include flexCenter(row, stretch, center);
        }

        .top-item {
            cursor: pointer;
            width: 100%;

            @media (max-width: 960px) {

                &:nth-child(4),
                &:nth-child(5) {
                    display: none;
                }
            }

            @media (min-width: 960px) {
                transition: transform 0.3s;
            }

            &:hover {
                @media (min-width: 960px) {
                    transform: scale(1.1);
                }
            }

            img {
                width: 100%;
            }
        }
    }

    .first {
        @include flexCenter(column, center, center);
        gap: 12px;

        @media (min-width: 540px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 960px) {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
        }

        .item {
            cursor: pointer;
            width: 100%;

            @media (min-width: 960px) {
                transition: transform 0.3s;
            }

            &:hover {
                @media (min-width: 960px) {
                    transform: scale(1.1);
                }
            }

            img {
                width: 100%;
            }
        }
    }

    .second {
        @extend .first
    }
}