@mixin flexCenter ($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

$color-header: #8998CD;
$color-text: #FAFAF0;
$color-black: #000000;
$color-footer: #E7EFFF;
$color-nav: #0065C9;
$color-gray: #e0d9d9;