@use 'base' as *;
@use 'temaA' as *;

.content {
    font-family: $fontB;

    .box {
        @extend .box
    }

    .base {
        background-color: $baseB;
    }

    .important {
        background-color: $importantB;
    }

    .warning {
        background-color: $warningB;
    }

    .box-shadow {
        box-shadow: $box-shadowB;
    }
}