@use 'base' as *;

.content {
    font-family: $fontA;

    .box {
        @include flexCenter(column, center, center);
        text-align: center;
        width: 5rem;
        height: 3.50rem;
        border: $border;
    }

    .base {
        background-color: $baseA;
    }

    .important {
        background-color: $importantA;
    }

    .warning {
        background-color: $warningA;
    }

    .box-shadow {
        box-shadow: $box-shadowA;
    }
}