@mixin flexCenter ($direction, $content, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

$color-base1: #95425f;
$color-base2: #7030A0;
$color-base3: #1e5c7a;

$colors: $color-base1, $color-base2, $color-base3;

@for $k from 1 through length($colors) {
    $color: nth($colors, $k);

    @for $i from 1 through 4 {
        .color-base#{$k} {
            background-color: $color;
        }

        .darken-#{$i}-color-base#{$k} {
            background-color: darken($color, $i * 10%);
        }

        .lighten-#{$i}-color-base#{$k} {
            background-color: lighten($color, $i * 10%);
        }
    }
}